<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  </configSections>


  <connectionStrings>
    <add name="connectionString" connectionString="Data Source=localhost;Initial Catalog=TESTDB;Integrated Security=true"
      providerName="System.Data.SqlClient" />
    <add name="TESTDBConnectionString" connectionString="Data Source=localhost;Initial Catalog=TESTDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TESTDBConnectionString2" connectionString="Data Source=localhost;Initial Catalog=TESTDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>



  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>